* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", Raleway-Fallback, sans-serif;
  margin: 0;
}

h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 2.7em;
}
h3 {
  font-size: 2em;
}
p {
  font-size: 1.25em;
}
ul {
  list-style: none;
}
li {
  font-size: 1.25em;
}

abutton {
  border: 2px solid rgba(0, 0, 0, 0, 5);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: #5efb80;
  border-radius: 10px;
}

abutton:hover {
  color: grey;
  background-color: #81f79a;
}

.container {
  margin: auto;
}

.color-acc {
  color: #5efb80;
}

.color-ac {
  color: #5efb80a4;
}

.color-ac:hover {
  color: #5efb80;
}

header {
  background-color: rgb(240, 240, 240);
  position: fixed;
}

header .logo {
  margin: 0;
  padding: 10px;
  font-weight: 700;
  color: rgb(43, 43, 43);
  font-size: 25px;
  transition: all 0.2s linear;
}

header .logo:hover {
  color: #5efb80;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}

header a {
  text-decoration: none;
  color: rgb(43, 43, 43);
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  transition: all 0.2s linear;
}

header a nav {
  padding: 0 16px 0 5px;
}

header a:hover {
  color: #5efb80;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  color: white;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("fotos/explosion.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#hero h1 {
  color: white;
  font-family: "Fira Sans", Fira-Sans-Fallback, sans-serif;
  font-size: 72px;
  text-decoration: none solid rgb(255, 255, 255);
}

.btn-t-d {
  background: white;
  width: 200px;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 3.3;
  padding-bottom: 10px;
}

.btn-tienda {
  border: none;
  background: none;
  padding: 5px 10px;
  position: relative;
}

.btn-tienda span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.btn-tienda svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
  position: relative;
}

.btn-tienda:hover svg {
  transform: translateX(0);
}

.btn-tienda:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.btn-tienda:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#muestras .container {
  padding: 0;
  width: 100%;
  padding-bottom: 600px;
}

#muestras h2 {
  font-size: 2.5em;
  text-align: center;
  line-height: 3;
}

.product-card {
  position: relative;
  max-width: 355px;
  width: 100%;
  border-radius: 25px;
  padding: 20px 30px 30px 30px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  overflow: hidden;
  transition: all 0.3s ease;
  margin: 0 !important;
  justify-self: center;
}
.product-card .logo-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-card .logo-cart img {
  height: 60px;
  width: 60px;
  object-fit: cover;
}
.product-card .logo-cart i {
  font-size: 27px;
  color: #707070;
  cursor: pointer;
  transition: color 0.3s ease;
}
.product-card .logo-cart i:hover {
  color: #333;
}
.product-card .main-images {
  position: relative;
  height: 210px;
}
.product-card .main-images img {
  position: absolute;
  height: 300px;
  width: 300px;
  object-fit: cover;
  transform: rotate(-18deg);
  left: 12px;
  top: -40px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.product-card .main-images img.active {
  opacity: 1;
}
.product-card .shoe-details .shoe_name {
  font-size: 24px;
  font-weight: 500;
  color: #161616;
}
.product-card .shoe-details p {
  font-size: 12px;
  font-weight: 400;
  color: #333;
  text-align: justify;
}
.product-card .shoe-details .stars i {
  margin: 0 -1px;
  color: #333;
}
.product-card .color-price .color-option {
  display: flex;
  align-items: center;
}
.color-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.color-price .color-option .color {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-right: 8px;
}
.color-option .circles {
  display: flex;
}
.color-option .circles .circle {
  height: 18px;
  width: 18px;
  background: #0d7a13;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.color-option .circles .circle.blue.active {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #0d7a13;
}
.color-option .circles .circle.pink {
  background: #fa1795;
}
.color-option .circles .circle.pink.active {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #fa1795;
}
.color-option .circles .circle.yellow {
  background: #f5da00;
}
.color-option .circles .circle.yellow.active {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #f5da00;
}
.color-price .price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.color-price .price .price_num {
  font-size: 25px;
  font-weight: 600;
  color: #707070;
}
.color-price .price .price_letter {
  font-size: 10px;
  font-weight: 600;
  margin-top: -4px;
  color: #707070;
}
.product-card .button-p {
  position: relative;
  height: 50px;
  width: 100%;
  border-radius: 25px;
  margin-top: 30px;
  overflow: hidden;
}
.product-card .button-p .button-layer {
  position: absolute;
  height: 100%;
  width: 300%;
  left: -100%;
  background-image: linear-gradient(135deg, #9708cc, #43cbff, #9708cc, #43cbff);
  transition: all 0.4s ease;
  border-radius: 25px;
}
.product-card .button-p:hover .button-layer {
  left: 0;
}
.product-card .button-p button {
  position: relative;
  height: 100%;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

#oferta {
  background-color: rgb(30, 30, 30);
  color: white;
}

#oferta .container {
  text-align: center;
  height: 100vh;
  padding: 100px 0px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("fotos/mipak.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(355px, auto));
  grid-gap: 10px;
}

.oferta-t {
  margin: 0;
  padding: 0;
}

.oferta-elm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.pack-t {
  text-align: center;
  margin: 0;
  justify-content: center;
}

.btn-c {
  background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
  background-size: 800% 400%;
  padding: 1em 2em;
  display: inline-block;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  color: white;
  transition: all 0.5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
}

.btn-c {
  animation: gradient 3s infinite;
  transform: scale(1.05);
}

.btn-c:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
#logros .container {
  text-align: center;
  padding: 100px 0px;
}

#logros li {
  margin: 16px 0px;
  font-weight: bold;
  font-size: 1.25em;
}

#contacta {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  background-color: rgba(30, 30, 30);
  color: white;
}

#contacto button {
  font-size: 1.75em;
}

footer {
  background-color: rgb(230, 230, 230);
}

footer p {
  margin: 0;
  padding: 12px;
  color: rgb(100, 100, 100);
}

footer .container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
}

footer .container img {
  padding: 50px;
}

@media (min-width: 727px) {
  header {
    position: fixed;
    min-width: 100%;
    z-index: 100;
  }

  header .container {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 10px 20px;
    width: 100%;
  }

  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 30px;
  }

  #hero h1 {
    font-size: 4em;
  }

  #muestras .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  #muestras h2 {
    margin: 0;
    text-align: center;
  }

  #muestras .img-container {
    background-image: url("fotos/palo.png");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
  }

  #oferta .proyectos {
    justify-content: center;
  }

  #oferta p {
    display: block;
    margin-bottom: 30px;
  }

  .oferta-t h2 {
    margin-bottom: 0px;
    max-width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
  }

  .pack-t {
    margin-top: 0px;
    max-width: 50%;
    height: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .pack-t h3 {
    margin-top: 0px;
    height: 60px;
    text-align: center;
    justify-content: center;
  }

  #pack-f {
    width: 50%;
  }

  #oferta .carta {
    padding: 15px;
  }

  #logros {
    background-image: url("fotos/soyyo.PNG");
    background-repeat: no-repeat;
    background-size: 300px 150px;
    background-position: 650px 175px;
  }

  #logros .container {
    text-align: left;
  }

  #logros h2 {
    margin-left: 50px;
  }

  #logros ul {
    margin-left: 10px;
    font-size: 0.85em;
  }

  #contacta button {
    font-size: 1.75em;
  }
}

@media (min-width: 1024px) {
  #logros {
    background-position-x: calc(100vh + 150px);
  }
}

@media (max-width: 727px) {
  header {
    position: fixed;
    min-width: 100%;
    z-index: 100;
  }

  header nav {
    display: none;
  }
}
